html, body{
    background-color:transparent!important;
    width:100%;
    height:100%;
    user-select: none;

    -webkit-font-smoothing: antialiased;
}

/* Start the interface hidden */
body {
    display: none;
}
#app{
    position:absolute;
    top:50.5%;
    left:50.5%;
    -webkit-transform: translateX(-50%) translateY(calc(-50% - .1px));
    transform: translateX(-50%) translateY(calc(-50% - .1px));
    max-width:25%;
    max-height:80%;
    overflow-y: hidden;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: gray;

    margin: 6px;
    border-radius: 13px;

}

#appBorder {
    background-color: darkgray;
    padding: 10px 10px 15px 15px;
    border-radius: 7px;

}

.menu-header {
    margin-bottom: 5px;
}

.menu-header, .top-row {
    margin-bottom: 10px;
}

.top-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#vehicleCountTitle {
    font-weight: 800;  
}

#vehicleCount {
    font-weight: 500;  
}

.car-list /*You could also use an ID*/ {
    height: 50vh;

}
  
.scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 2px;
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar
{
	width: 12px;
    background-color: #F5F5F5;
    border-radius:2px;
}

.scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 2px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #999;
}

.garageListItem {
    border-radius: 5px;
    margin-top: 1px;
    margin-bottom: 1px;
    background-color: dimgray;
    color: ghostwhite;
}

.hr {
    border: 2 white;
    padding: 0;
    margin: 0;
    margin-top: 1px;
}

.carModel, .carName, .impoundItem, .vehicleListItem{
    text-transform: capitalize;
} 

.setVehicleName {
    margin-top: 10px;
    margin-left: 15px;
}

.setVehicleName .nameField {
    width: 100%;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.setVehicleName button {
    margin-right: 10px;
}

.transferOwnership {
    margin-left: 15px;
}

.transferOwnership .dd {
    width: 100%;
}

.transferOwnership .buyer {
    width: 100%;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.transferOwnership .buyer .button {
    width: 100%;
}

.transferOwnership .dropdown-item, .dropdown-menu {
    width: 100%;
}

.transferOwnership button {
    margin-right: 10px;
}


[v-cloak] {
    display: none;
}
